# NAS Module Demonstration

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import flbs_ais.nas as nas

## Search for a species

The following code will take a species' scientific name and search the NAS database for any matching species. The purpose of this is to obtain a species ID, which is needed for further methods of this module. The first method, *species_search*, returns a list of python dictionaries, each of which contains a series of values related to that species. The second function, *species_string*, returns a string of that list in a readable form.

In [3]:
search_result = nas.species_search("Oncorhynchus", "mykiss");
search_string = nas.species_string(search_result);
print(search_string)

speciesID: 910
itis_tsn: 161989
group: Fishes
family: Salmonidae
genus: Oncorhynchus
species: mykiss
subspecies:
variety:
authority: (Walbaum, 1792)
common_name: Rainbow Trout
native_exotic: Native
Fresh/Marine/Brackish: Freshwater-Marine

speciesID: 911
itis_tsn: 553422
group: Fishes
family: Salmonidae
genus: Oncorhynchus
species: mykiss
subspecies: irideus
variety:
authority: (Gibbons, 1955)
common_name: coastal rainbow trout
native_exotic: Native
Fresh/Marine/Brackish: Freshwater-Marine

speciesID: 913
itis_tsn: None
group: Fishes
family: Salmonidae
genus: Oncorhynchus
species: mykiss
subspecies: kamloops strain
variety:
authority:
common_name: Kamloops trout
native_exotic: Native
Fresh/Marine/Brackish: Freshwater-Marine

speciesID: 914
itis_tsn: None
group: Fishes
family: Salmonidae
genus: Oncorhynchus
species: mykiss
subspecies: ssp.
variety:
authority:
common_name: redband trout
native_exotic: Native
Fresh/Marine/Brackish: Freshwater-Marine

## Get a pandas dataframe for a species id

Once a species ID is known, the *getdf* method can be used to get a pandas dataframe containing all the occurrence data for that species in the NAS database. The columns parameter determines which of the columns should be kept in the dataframe. The limit parameter determines how many rows will be in the dataframe, with a value of -1 returning unlimited results. An API key is necessary to get more than 100 rows.

To return a list of column names for an occurrence dataframe, use *get_occurrence_header*. All column names are lower case with no spaces.

In [70]:
print("\nList of Column Names in an Occurrence Table\n")
name_list = nas.get_occurrence_header()
for i, name in enumerate(name_list):
    if i:
        # Print a comma if this is not the first element
        print(', ', end='')
    # Print the column name after the comma
    print(name, end='')
print()

print("\n\n20 Results from a Query Placed Into a Pandas Dataframe:\n")
redband_trout_df = nas.getdf(914, keep_columns=None, limit=20, api_key=None)
print(redband_trout_df.columns)
print(redband_trout_df['references'])

List of Column Names in an Occurrence Table

speciesid, group, family, genus, species, scientificname, commonname, state, county, locality, decimallatitude, decimallongitude, latlongsource, latlongaccuracy, centroidtype, huc8name, huc8, huc10name, huc10, huc12name, huc12, date, year, month, day, status, comments, recordtype, disposal, museumcatnumber, freshmarineintro, references


20 Results from a Query Placed Into a Pandas Dataframe:

Index(['key', 'speciesid', 'group', 'family', 'genus', 'species',
       'scientificname', 'commonname', 'state', 'county', 'locality',
       'decimallatitude', 'decimallongitude', 'latlongsource',
       'latlongaccuracy', 'centroidtype', 'huc8name', 'huc8', 'huc10name',
       'huc10', 'huc12name', 'huc12', 'date', 'year', 'month', 'day', 'status',
       'comments', 'recordtype', 'disposal', 'museumcatnumber',
       'freshmarineintro', 'references'],
      dtype='object')
0     [{'key': 360, 'refType': 'Report', 'year': 199...
1     [{'key': 360, 'refType': 'Report', 'year': 199...
2     [{'key': 360, 'refType': 'Report', 'year': 199...
3     [{'key': 24224, 'refType': 'Database', 'year':...
4     [{'key': 24224, 'refType': 'Database', 'year':...
5     [{'key': 24224, 'refType': 'Database', 'year':...
6     [{'key': 24224, 'refType': 'Database', 'year':...
7     [{'key': 24224, 'refType': 'Database', 'year':...
8     [{'key': 24224, 'refType': 'Database', 'year':...
9     [{'key': 24224, 'refType': 'Database', 'year':...
10    [{'key': 24224, 'refType': 'Database', 'year':...
11    [{'key': 24224, 'refType': 'Database', 'year':...
12    [{'key': 24224, 'refType': 'Database', 'year':...
13    [{'key': 24224, 'refType': 'Database', 'year':...
14    [{'key': 24224, 'refType': 'Database', 'year':...
15    [{'key': 24224, 'refType': 'Database', 'year':...
16    [{'key': 24224, 'refType': 'Database', 'year':...
17    [{'key': 24224, 'refType': 'Database', 'year':...
18    [{'key': 24224, 'refType': 'Database', 'year':...
19    [{'key': 24224, 'refType': 'Database', 'year':...
Name: references, dtype: object

## Processing NAS CSV files

In [110]:
nas_csv_df = nas.process_csv_df("../demo/NAS_data_914.csv", keep_columns=None)
#print(nas_csv_df.columns)