# Hydrilla
#### *Hydrilla verticillata*
---

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

import numpy as np
import pandas as pd

import flbs_ais.nas as nas

#### Database Species Search Results
NOTE: Enter scientific name in the following code block

In [3]:
search_result = nas.species_search('Hydrilla', 'verticillata')
search_string = nas.species_string(search_result)
print(search_string)

speciesID: 6
itis_tsn: 38974
group: Plants
family: Hydrocharitaceae
genus: Hydrilla
species: verticillata
subspecies:
variety:
authority: (L.f.) Royle
common_name: hydrilla
native_exotic: Exotic
Fresh/Marine/Brackish: Freshwater

---
## API Query Dataframe for Hydrilla  
Another error.

In [17]:
api_key = ""
with open("../tmp/api_key.txt", 'r') as file:
    api_key = file.readline()
api_df = nas.getdf(6, keep_columns=None, limit=1, api_key=api_key)
print(f"Results: {len(api_df)}")
api_df.head()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

---
## Most Common References for API Query Dataframe

In [ ]:
api_ref_count = nas.ref_counts(api_df)
print(nas.ref_string(api_ref_count, limit=20))

---
## CSV File Dataframe for Hydrilla

In [5]:
csv_df = nas.process_csv_df("../tmp/NAS-Data-HydrillaVerticillata.csv")
print(f"Results: {len(csv_df)}")
csv_df.head()

Results: 10706

,specimennumber,speciesid,group,family,genus,species,scientificname,commonname,country,state,...,year,month,day,status,comments,recordtype,disposal,museumcatnumber,freshmarineintro,references
0,1523973,6,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata,hydrilla,United States of America,CT,...,2016,6.0,4.0,established,NaN,Literature,NaN,3377487,Freshwater,"[{'key': 25944, 'refType': 'Database', 'year':..."
1,1523972,6,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata,hydrilla,United States of America,CT,...,2016,6.0,4.0,established,NaN,Literature,NaN,3377622,Freshwater,"[{'key': 25944, 'refType': 'Database', 'year':..."
2,1633925,6,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata,hydrilla,United States of America,CT,...,2017,9.0,8.0,established,NaN,Specimen,Connecticut Agricultural Experiment Station,HydVer00800009082017,Freshwater,"[{'key': 34017, 'refType': 'Report', 'year': 2..."
3,1322352,6,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata,hydrilla,United States of America,CT,...,2016,9.0,19.0,established,"Discovered in 2016, though likely present ""in ...",Literature,NaN,NaN,Freshwater,"[{'key': 29080, 'refType': 'News', 'year': 201..."
4,1633926,6,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata,hydrilla,United States of America,CT,...,2018,10.0,1.0,established,Growing in silt in 1.0 meters of water. Found ...,Specimen,Connecticut Agricultural Experiment Station,HydVer01600010012018,Freshwater,"[{'key': 34017, 'refType': 'Report', 'year': 2..."

---
## Most Common References for CSV File Dataframe
NOTE: Reference information for CSV files is not currently functional

In [ ]:
#csv_ref_count = nas.ref_counts(csv_df)
#print(nas.ref_string(csv_ref_count, limit=20))